{# src/AppBundle/Resources/views/CRUD/list__batch.html.twig #}
{# see SonataAdminBundle:CRUD:list__batch.html.twig for the current default template #}

{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    <input type="checkbox" name="idx[]" value="{{ admin.id(object) }}" />

    {# the new radio button #}
    <input type="radio" name="targetId" value="{{ admin.id(object) }}" />
{% endblock %}
