{% extends 'base.html.twig' %}

{% block body_id 'menu_externe' %}

{% block main %}
        <h1> Menu Externe</h1>
        <p class="subtitle"> Menu du midi uniquement</p>


            <div class="row ligne">

                <div class="col-md-4 col-xs-12">
                    <div class="titre">Lundi </div>
                    <div class="menu">
                        <div class=" text">{{ menuMidi.lundiEntree }}</div>
                        <div class=" text">{{ menuMidi.lundiPlat }}</div>
                        <div class="text">{{ menuMidi.lundiAccompagnement }}</div>
                        <div class=" text">{{ menuMidi.lundiDessert }}</div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="titre">Mardi </div>
                    <div class="menu">
                        <div class=" text">{{ menuMidi.mardiEntree }}</div>
                        <div class=" text">{{ menuMidi.mardiPlat }}</div>
                        <div class="text">{{ menuMidi.mardiAccompagnement }}</div>
                        <div class=" text">{{ menuMidi.mardiDessert }}</div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="titre">Mercredi </div>
                    <div class="menu">
                        <div class=" text">{{ menuMidi.mercrediEntree }}</div>
                        <div class=" text">{{ menuMidi.mercrediPlat }}</div>
                        <div class="text">{{ menuMidi.mercrediAccompagnement }}</div>
                        <div class=" text">{{ menuMidi.mercrediDessert }}</div>
                    </div>
                </div>

            </div>
            <div class="row ligne">

                <div class="col-md-4 col-xs-12">
                    <div class="titre">Jeudi </div>
                    <div class="menu">
                        <div class=" text">{{ menuMidi.jeudiEntree }}</div>
                        <div class=" text">{{ menuMidi.jeudiPlat }}</div>
                        <div class="text">{{ menuMidi.jeudiAccompagnement }}</div>
                        <div class=" text">{{ menuMidi.jeudiDessert }}</div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                        <div class="titre">Vendredi </div>
                        <div class="menu">
                            <div class=" text">{{ menuMidi.vendrediEntree }}</div>
                            <div class=" text">{{ menuMidi.vendrediPlat }}</div>
                            <div class="text">{{ menuMidi.vendrediAccompagnement }}</div>
                            <div class=" text">{{ menuMidi.vendrediDessert }}</div>
                        </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="titre">Samedi </div>
                    <div class="menu">
                        <div class=" text">{{ menuMidi.samediEntree }}</div>
                        <div class=" text">{{ menuMidi.samediPlat }}</div>
                        <div class="text">{{ menuMidi.samediAccompagnement }}</div>
                        <div class=" text">{{ menuMidi.samediDessert }}</div>
                    </div>
                </div>

            </div>
            <div class="row ligne">

                <div class="col-md-4 col-md-offset-4 col-xs-12">
                    <div class="titre">Dimanche </div>
                    <div class="menu">
                        <div class=" text">{{ menuMidi.dimancheEntree }}</div>
                        <div class=" text">{{ menuMidi.dimanchePlat }}</div>
                        <div class="text">{{ menuMidi.dimancheAccompagnement }}</div>
                        <div class=" text">{{ menuMidi.dimancheDessert }}</div>
                    </div>
                </div>

            </div>




{% endblock %}


{% block sidebar %}
    <p class="titre">
        Voir le menu :
    </p>
    <div>
        <a href="{{ path('externe') }}" >
            Externe
        </a>
    </div>
    <div>
        <a  href="{{ path('scolaire') }}">
            Scolaire
        </a>
    </div>
    <div>
        <a href="{{ path('resident') }}" >
            Résident
        </a>
    </div>



{% endblock %}
