{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block main %}
    <h1> Bienvenue sur le menu Degreaux</h1>
    <!-- choix 3 btn -->
    <div class="row categories">
      <p> Vous êtes : </p>
      <div class="col-md-4 col-xs-12">
          <a href="{{ path('externe') }}" >
            <button id="externebtn" type="button" class="btn btn-default" >
                Externe
            </button>
        </a>
      </div>
      <div class="col-md-4 col-xs-12">
        <a  href="{{ path('scolaire') }}">
            <button id="scolairebtn"  type="button" class="btn btn-default ">
                Scolaire
            </button>
        </a>
      </div>
      <div class="col-md-4 col-xs-12">
        <a href="{{ path('resident') }}" >
            <button id="residentbtn"   type="button" class="btn btn-default ">
                Résident
            </button>
        </a>
      </div>
    </div>
{% endblock %}
